body {
  background-color: #333;
  color: #fff;
  font-family: Arial, Helvetica, sans-serif;
}

@import './components/Form/Form.css';
@import './components/Card/Card.css';
@import './pages/Main/Main.css';
@import './components/SearchForm/SearchForm.css';
@import './components/Modal/Modal.css';
@import './components/ModalWindowForm/ModalWindowForm.css';
@import './components/Gallery/Gallery.css';
@import './components/Comment/Comment.css';
@import './components/Button/Button.css';